$label-color: #232323;
$text-color: #6f6f6f;
$grey-color: #939393;
$sub-color: #ff214f;
$light-grey-color: #b7b7b7;

$roboto-font: "Roboto", sans-serif;

$black-gradient: rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6);
